

.App {
  text-align: center;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
  border-radius: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --blue:#2196f3 ;
  --lightblue:#6ec6ff;
  --darkblue:#0069c0;
  --brown:#4e342e;
  --lightbrown:#7b5e57;
  --me:#c1998f;
  --darkbrown:#260e04;
  --light:#fff1b7ea;
  --yellow:#e6c240;
  --offwhite:#e6fdffea;
  --greenWash:rgba(66,151, 130, 0.75);
  --nav:rgb(194, 154, 144, 0.75);
  --purple: #746bef;
  --fire:#ed4a3b;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--me);
  font-family: 'Satisfy', cursive;
  font-family: 'Source Code Pro', monospace;
  color: var(light);
  /* margin-left: 5%;
  margin-right: 5%; */
  box-shadow: 0 0 8px 0 var(--lightbrown);
  /* font-family: 'Lato', sans-serif; */
  background-image: url(./assests/drop_001.png);
  background-repeat: repeat;
  background-size: contain;
  /* background-size: 200px; */
}



.logo{
  border-radius: 2rem;
  margin-top: 0.5px;
}

.navbar {
  color: var(--darkbrown);
  position: sticky;
  box-shadow: 0 0 8px 0 var(--me);
  z-index: 1;
  list-style: none;
  font-family: 'Rock Salt', cursive;
}

.navbar-brand {
  margin-left: 6.5%;
}

.right {
  margin-right: 6.5%;
}
.btn .btn-clear {
  outline: none;
}

#myNav {
  background-color: var(--nav);
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Rock Salt', cursive;
}

hr {
  border: 1px solid var(--fire);
}

#title {
  font-family: 'Rock Salt', cursive;
 
}



.dropdown-menu {
  border: none;
  float: left;
  position: relative;
}

.dropdown-item:hover {
  background-color: var(--greenWash);
}

.cart {
  background-color: var(--me);
}
/* Main Page */

.addBtn {
  background-color: var(--lightbrown);
  border: 1px solid var(--me);
  border-radius:1rem;
}

.addBtn:hover{
  background-color: var(--me);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  padding: 8%;
  background-color:white;
  list-style: none;
}

.card-body li{
  list-style: none;
}

.card-body {
  border: none;
  /* background-color: var(--darkgreen); */
}

.card {
  border: none;
  list-style: none;
  list-style: none;
}

.image {
  box-shadow: 5px 10px 18px #888888;
}

.middle {
  display: flex;
  justify-content: center;
  /* margin-left: 10%; */

}

.intro {
  position: relative;
  text-align: center;
  color: white;
  margin-left: 6.5%;
  margin-right: 6.5%;
  /* -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: var(--darkbrown); */
  /* box-shadow: 0 0 8px 0 var(--me); */
  /* background-color: var(--me); */
  font-size: large;
  /* text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000; */
}

.img-fluid{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  bottom: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  text-align: center;
}

.about {
  position: relative;
  text-align: center;
  color: white;
  margin-left: 6.5%;
  margin-right: 6.5%;
  top: 10%;
  
}

.image-container {
  position: relative;
}

.image-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}

.footer {
  margin: 0;
  border: none;
  padding: 3%;
}
.footer p {
  align-content: center;
}

Form {
  border: none;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--nav);
  background-size: cover;
  /* background-image: url(./assests/background.png); */
}

.submit {
  border-radius: 0.5rem;
  background-color:var(--nav);
  border: none
}